@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
      circle at 20% 30%,
      rgba(99, 102, 241, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(59, 130, 246, 0.25),
      transparent 40%
    ),
    #0f172a;
}
